@import "../../style/setup/setup.scss";

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  @media screen and (max-width: $narrow-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
  }
}
.noResults {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
  font-size: 30px;
  color: $clr-gray;
}
