$page-padding: 0 17%;
$page-padding-large: 0 15%;
$page-padding-normal: 0 10%;
$page-padding-nerrow: 0 10%;

$page-padding-mobile: 0 4%;

$page-width: 1000px;
$page-padding-large: 0 15%;
$page-padding-normal: 0 10%;
$page-padding-nerrow: 0 10%;
