@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  src: "../fonts/fa-brands-400.ttf";
  font-family: "fa-brands";
}
@font-face {
  src: "../fonts/fa-regular-400.ttf";
  font-family: "fa-reg";
}
@font-face {
  src: "../fonts/fa-solid-900.ttf";
  font-family: "fa-solid";
}
