@import "../../style/setup/setup.scss";

.select {
  user-select: none;

  .wrapper {
    display: flex;
    align-items: center;
    .label {
      min-width: 50px;
    }
    .content {
      z-index: 100;

      .group {
        background-color: var(--clr-background);
        box-shadow: 0px 8px 16px #0000001f;
        .item {
          margin-block: 5px;
          padding: 5px 10px;
          outline: none;
          border: 1px transparent solid;
          &.checked {
            color: var(--clr-primary);
          }

          &:hover {
            background-color: var(--clr-background-secondary);
            cursor: pointer;
          }
        }
      }
    }
  }
}
