@import "../../style/setup/setup.scss";

.select {
  user-select: none;

  .wrapper {
    display: flex;
    align-items: center;
    .content {
      z-index: 100;

      .group {
        background-color: white;
        box-shadow: 0px 8px 16px #0000001f;
        .item {
          margin-block: 5px;
          padding: 5px 10px;
          outline: none;
          border: 1px transparent solid;
          &.checked {
            color: $clr-primary;
          }

          &:hover {
            background-color: aqua;

            background-color: $clr-gray-hover;
            cursor: pointer;
          }
        }
      }
    }
  }
}
