@import "../../style/setup/setup.scss";

.filters {
  display: flex;
  padding-block: 30px;

  gap: 30px;

  .labels {
    user-select: none;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 13px;
  }
}
