@import "../setup/setup.scss";

a {
  color: $clr-black;
  padding: 10px 0;
  text-decoration: none;

  &:hover,
  &:active {
    color: $clr-primary; // Color on hover and active state
  }

  &:visited {
    color: $clr-primary; // Color for visited links
  }
}
