@import "../setup/setup.scss";

a {
  color: var(--clr-black);
  padding: 10px 0;
  text-decoration: none;

  &:hover,
  &:active {
    color: var(--clr-primary); // Color on hover and active state
  }

  &:visited {
    color: var(--clr-primary); // Color for visited links
  }
}
