@import "../../style/setup/setup.scss";

.blogCard {
  position: relative;
  transition: transform 0.2s ease;
  cursor: pointer;
  display: grid;
  gap: 30px;
  grid-template-columns: 4fr 1fr;
  margin-bottom: 30px;

  &:hover {
    transform: scale(1.01);
  }

  .imgSection {
    height: 130px;
    width: 165px;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  .labelsSection {
    margin-bottom: 13px;
    color: var(--clr-primary);
    .label {
      font-size: 15px;
      font-weight: 300;
    }
  }

  .content {
    max-height: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--clr-font);
    position: relative;

    .title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 17px;
      @media screen and (max-width: $mobile-breakpoint) {
        font-size: 18px;
      }
    }

    .description {
      color: var(--clr-font-secondary);
      font-size: 13px;
      font-weight: 500;
      overflow: hidden;
    }
  }
  .cardFooter {
    width: 100%;
    position: absolute;
    bottom: 0;
    // height: 50px;

    .footerContent {
      position: absolute;
      bottom: 0;
      .date {
        color: $clr-gray;
        font-size: 12px;
        font-weight: 300;
      }
    }
    @media screen and (max-width: $mobile-breakpoint) {
      font-size: 13px;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    max-width: 100%;
    font-size: 13px;
  }
}
